<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwapow.reservior.mapper.ResCapacityMapper">
    
    <resultMap type="ResCapacity" id="ResCapacityResult">
        <result property="id"    column="id"    />
        <result property="capacity"    column="capacity"    />
        <result property="waterLevel"    column="water_level"    />
        <result property="orgId"    column="org_id"    />
        <result property="orgName"    column="org_name"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectResCapacityVo">
        select a.*,b.org_name as org_name from res_capacity a left join sys_org b on a.org_id= b.org_id
    </sql>

    <select id="selectResCapacityList" parameterType="ResCapacity" resultMap="ResCapacityResult">
        <include refid="selectResCapacityVo"/>
        <where>  
            <if test="capacity != null "> and capacity = #{capacity}</if>
            <if test="waterLevel != null "> and water_level = #{waterLevel}</if>
            and (a.del_flag is null or a.del_flag = '0')
        </where>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>
    
    <select id="selectResCapacityById" parameterType="Long" resultMap="ResCapacityResult">
        <include refid="selectResCapacityVo"/>
        where a.id = #{id}
    </select>
        
    <insert id="insertResCapacity" parameterType="ResCapacity">
        insert into res_capacity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="capacity != null">capacity,</if>
            <if test="waterLevel != null">water_level,</if>
            <if test="orgId != null">org_id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="capacity != null">#{capacity},</if>
            <if test="waterLevel != null">#{waterLevel},</if>
            <if test="orgId != null">#{orgId},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateResCapacity" parameterType="ResCapacity">
        update res_capacity
        <trim prefix="SET" suffixOverrides=",">
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="waterLevel != null">water_level = #{waterLevel},</if>
            <if test="orgId != null">org_id = #{orgId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="checkCapacityUnique" resultMap="ResCapacityResult">
        <include refid="selectResCapacityVo"/>
        where a.water_level = #{waterLevel} and a.org_id=#{orgId} and (a.del_flag is null or a.del_flag = '0') limit 1
    </select>

    <update id="deleteResCapacityById" parameterType="Long">
        update res_capacity set del_flag=2 where id = #{id}
    </update>

    <update id="deleteResCapacityByIds" parameterType="String">
        update res_capacity set del_flag=2 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>