@font-face {
  font-family: "iconfont"; /* Project id 2528348 */
  src: url('iconfont.woff2?t=1620272676834') format('woff2'),
       url('iconfont.woff?t=1620272676834') format('woff'),
       url('iconfont.ttf?t=1620272676834') format('truetype');
}

.iconfont {
  font-family: "iconfont"!important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon16 {
  font-size: 16px;
}

.icon32 {
  font-size: 32px;
}

.icon48 {
  font-size: 48px;
}

.icon-m-log:before {
  content: "\e6e7";
}

.icon-rizhi:before {
  content: "\e603";
}

.icon-huikuan:before {
  content: "\e6fe";
}

.icon-hetong:before {
  content: "\e600";
}

.icon-bangzhu-huikuanmingxi:before {
  content: "\e61f";
}

.icon-xiangmu:before {
  content: "\e64d";
}

.icon-fapiao:before {
  content: "\e60d";
}

.icon-hetong1:before {
  content: "\e601";
}

.icon-fapiao1:before {
  content: "\e633";
}

.icon-fapiao2:before {
  content: "\e636";
}

.icon-xiangmu1:before {
  content: "\e62a";
}

.icon-shenqing:before {
  content: "\e602";
}

.icon-huikuan1:before {
  content: "\e639";
}

